main{
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil{
    padding: 1rem;
    border-width: 2px;
    border-color: silver;
    border-style: solid;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 1rem;
}

.actions{
    display: inherit;
    flex-direction: row;
    gap: 1rem;
}