<div>
    <nav>
        <h1 routerLink="/">Proyecto Lista</h1>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="hamMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="contact">Contacto</button>
            <button
                *ngIf="!(afAuth.user | async)"
                mat-menu-item
                routerLink="login"
            >
                🚪  
                Log in
            </button>
    
            <button
                *ngIf="afAuth.user | async"
                mat-menu-item
                routerLink="perfil"
            >
                👤
                Perfil
            </button>
        </mat-menu>

        <div class="actions">
            <button mat-stroked-button routerLink="contact">Contacto</button>
            <button
                *ngIf="!(afAuth.user | async)"
                mat-flat-button
                routerLink="login"
            >
                🚪  
                Log in
            </button>
    
            <button
                *ngIf="afAuth.user | async"
                mat-flat-button
                routerLink="perfil"
            >
                👤
                Perfil
            </button>
        </div>
    </nav>
    <ng-content></ng-content>
</div>